<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="inser your connection string" providerName="System.Data.SqlClient" />
    <add name="BotToken" connectionString="insert your token" />
    <!--<add name="BotToken" connectionString="insert your token" /> --><!-- Test bot -->
  </connectionStrings>
</configuration>